<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="static/css/styles.css"/>
    <meta charset="UTF-8">
    <title>RGBdle</title>
    <link rel="icon" type="image/x-icon" href="static/css/images/rgbdleFavicon.png">
    
    <!--This script stops the page from refreshing on submit-->
    <script> 
    //$('#form').submit(false);
        function submitForm(event) {
            //prevents events, doesnt work if no input on submitForm
            event.preventDefault();
        
            // this line is your guess
            const formData = new FormData(document.getElementById("guessForm"));
            
            fetch("{{url_for('handle_data')}}", {
                method: "POST",
                body: formData
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error("Network response was not ok");
                }
                return response.text();
            })
            .then(data => {
                console.log(data);
            })
            .catch(error => {
                console.error("There was a problem with the fetch operation:", error);
            });
        }
        // onclick or this
        document.getElementById('guessForm').addEventListener('submit', submitForm)
    </script>
</head>

<body id="background">
    <img src="static/css/images/rgbdleLogo.png" class="center"
    width="500"
    height="200">
    <img src="static/css/images/rgbColor.png" class="center" id=border>
    <p id="dev_testing">Current Value: {{ value }}</p> <!--DEV This is for testing, delete when finished-->
   
    <form id="guessForm">
        <input type="number" min="0" max="255" name="user_guess" class="center">
        <!--<button class="center" onclick="submitForm(event) type=submit">Submit</button>-->
        <input type="submit" class="center" onsubmit = "submitForm(event)">
        <!--onclick respects the min & max, onsubmit respects the prevent default-->
    </form>
</body>
</html>
